<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover' />
    <title><%= title %></title>
    <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap' rel='stylesheet' />
    <link rel='stylesheet' href='/common.css' />
    <link rel='stylesheet' href='/workshop.css' />
    <script src='/common.js'></script>
  </head>

  <body>
    <div class='root'>
      <nav>
        <%_ exercises.forEach(exercise => { _%>
          <%_ if (exercise.heading) { _%>
            <div class='title'>
              <%= exercise.name %>
            </div>
          <%_ } else { _%>
            <%_ let cls = '' _%>
            <%_ if (exercise.id < config.currentExcercise) cls += ' done' _%>
            <%_ if (exercise.id > config.currentExcercise) cls += ' disabled' _%>
            <a
              data-exercise='<%= exercise.id %>'
              class='exercise <%= cls %>'
              href='/<%= exercise.id %>'
            >
              <%= exercise.id %>. <%= exercise.name %>
            </a>
          <%_ } _%>
        <%_ }) _%>
      </nav>

      <main>
        <%- content %>
      </main>
    </div>
  </body>
</html>
